{
  "plugins": [
    [
      "@babel/transform-react-jsx",
      {
        "pragma": "OwnReact.createElement"
      }
    ]
  ],
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ]
}
