{
  "plugins": [
    [
      "@babel/transform-react-jsx"
    ]
  ],
  "presets": [
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true
      }
    ]
  ]
}
